/***************/
/* YOUR STYLES */
/***************/

/* Color Palette */
.color-1 {
    background: red;
}

.color-2 {
    background: blue;   
}

.color-3 {
    background: green;   
}

/* Textures or Patterns*/
.pattern-1 {
    background: url(../img/concrete_seamless.png);
}

.pattern-2 {
    background: url(../img/footer_lodyas.png);
}

.pattern-3 {
    background: url(../img/stardust.png);
}

/* Imagery */


/* Icons */


/* Typography */
h1, h2 {
    font-family: 'Wallpoet', cursive;
}

/* Forms */


/* Tables */


/* Cards */